# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment
.env
.env.local

# Logs
logs/
*.log

# Build
dist/
build/

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Data
public/sitemap.xml
!public/css/
!public/js/